# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "ac6bf0c04b992f852be8538ab90a4691"
name = "Tripleform-COD"
application_url = "https://cornell-andrea-redhead-sleeps.trycloudflare.com"
embedded = true
handle = "tripleform-cod"

[app_proxy]
url = "https://music-recommended-alphabetical-structural.trycloudflare.com/proxy"
subpath = "tripleform-cod"
prefix = "apps"

[build]
include_config_on_deploy = true
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-07"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,write_products,read_orders,read_customers,write_draft_orders,read_content,write_content"

[auth]
redirect_urls = ["https://cornell-andrea-redhead-sleeps.trycloudflare.com/auth/callback", "https://cornell-andrea-redhead-sleeps.trycloudflare.com/auth/shopify/callback", "https://cornell-andrea-redhead-sleeps.trycloudflare.com/api/auth/callback"]

[pos]
embedded = false
