

name = "Tripleform-COD"
client_id = "ac6bf0c04b992f852be8538ab90a4691"
handle = "tripleform-cod"

application_url = "https://tripleform-cod-order-upsells.onrender.com"
embedded = true

[build]
include_config_on_deploy = true
automatically_update_urls_on_dev = true

[auth]
redirect_urls = [
  "https://tripleform-cod-order-upsells.onrender.com/auth/callback",
  "https://tripleform-cod-order-upsells.onrender.com/auth/shopify/callback",
  "https://tripleform-cod-order-upsells.onrender.com/api/auth/callback"
]

[webhooks]
api_version = "2024-10"

[[webhooks.subscriptions]]
topics = [ "app/uninstalled" ]
uri = "https://omissions-perceived-wilderness-citizenship.trycloudflare.com/webhooks/app/uninstalled"

[[webhooks.subscriptions]]
topics = [ "app/scopes_update" ]
uri = "https://omissions-perceived-wilderness-citizenship.trycloudflare.com/webhooks/app/scopes_update"

[[webhooks.subscriptions]]
uri = "https://omissions-perceived-wilderness-citizenship.trycloudflare.com/webhooks/compliance"
compliance_topics = [ "customers/data_request", "customers/redact", "shop/redact" ]

[app_proxy]
url = "https://omissions-perceived-wilderness-citizenship.trycloudflare.com"
subpath = "tripleform-cod"
prefix = "apps"

[pos]
embedded = false